.password-page{
    font-size: 55px;
    text-align: center;
}

.old-password{
    background-color: antiquewhite;
    height: 100px;
    width: 700px;
    margin-top: 1%;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 250px;
    font-size: 32px;
}

.new-password{
    background-color: antiquewhite;
    height: 100px;
    width: 700px;
    margin-top: 1%;
    border-radius: 100px;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 32px;
   
}


.save-password{
    background-color: #2a5c99;
    height: 100px;
    width: 200px;
    /* margin-left: auto; */
    margin-top: 2%;
    color: white;
    border-radius: 25px;
    border-color: #2a5c99;
    font-size: 38px;
    text-align: center;
    /* font-weight: 100px; */
    align-items: center;
}

.psswdpage-eye-logo{
    margin: -100px 0 100px;
    padding-left: 500px;
}

.lock-photo{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psswdpage-lasteye-logo{
    margin:-170px 150px;
    padding-left:500px;
}

.ps-text{
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errormssg{
    height : 50px;
    width: 500px;
    text-align:center;
    font-size: 30px;
}

.old-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oldpass-bott{
    height: 100px;
    width: 300px;
    border-radius: 50px;
    padding: 0;
    background-color:transparent;
    margin-left: 500px;
    border: none;
    text-decoration:none;
    margin-top: -315px;
    color: #2a5c99;
    font-size: 20px;
}

.newpass-bott{
    height: 100px;
    width: 300px;
    border-radius: 50px;
    padding: 0;
    background-color:transparent;
    margin-left:500px;
    border: none;
    text-decoration:none;
    margin-top: -65px;
    color: #2a5c99;
    font-size: 20px;
}