.modal_container {
    background-color: white;
    margin: 30% auto 0;
    width: 500px;
    border-radius: 10px;
    border-color: black;
}

.background {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.8);
}

.type_item {
    display: flex;
    flex-direction: row;
}

.close_add_btn {
    all : inherit;
    border: none;
    background-color: white;
    margin: 10px 0px 0px 10px;
    width: 60px;
}

.close_add_btn_img {
    all : inherit;
    width: 50px;
}

.title {
    margin-bottom: 10px;
}

.type {
    display: flex;
    justify-content: center;
}

.btn_del {
    border: none;
    background-color: white;
    height: 30px;
    margin-top: 5px;
    padding-right: 0px;
}

.edit_type_label {
    margin-top: 7px;
    margin-right: 5px;
}

.btn_img {
    width: 30px;
}

.type_name {
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 5px;
    margin-bottom: 7px;
}

.input_add_type {
    margin-top: 15px;
    height: 30px;
    margin-right: 10px;
}

.submit_btn {
    margin-bottom: 1rem;
    padding: 0.75rem;
    margin-right: 0.25rem;
    border: none;
    background-color: white;
}

.submit_btn_img {
    height: 40px;
}

.add_type {
    display: flex;
    flex-direction: row;
}